.Advice {
    position: relative;
    background-color: #323949;
    padding: 40px 20px 30px 20px;
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 50vh;
    transform: translateY(-50%);
    box-shadow: 0 0 25px #000000ad;
}

.Advice h2 {
    color: #52F9A9;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.Advice p {
    color: #D6E2EF;
    font-size: 2em;
    font-weight: 500;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 1rem 0;
}

.separator hr {
    background-color: #4f5666;
    border-radius: 30px;
    height: .2rem;
    width: 40%;
}

.separator i {
    color: #D6E2EF;
    font-size: 2em;
}

button {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: #52F9A9;
    box-shadow: 0 0 15px #212530;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    transform: translate(-50%, 50%);
    transition: .2s all;
}

button:hover {
    transform: scale(1.1) translate(-50%, 50%);
    box-shadow: 0 0 25px #212530;
}

button i {
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    .Advice {
        transform: translateY(calc(-50% - 5vh));
    }
}